
/**   Roboto Font  **/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/***** Lemon font  *****/
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:wght@400;500;700&display=swap');



/**** Google font end ****/

/* Default Css Start */
body{
    overflow-x: hidden;
    font-family: 'Roboto',sans-serif;
    color: #646466;
    line-height: 1.5;
  
}

a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
    line-height: 1.4;
    font-weight: 700;
    font-family: "Lemon", sans-serif;
}
ul{
    list-style: none;
    padding-left: 0;
}
button, input, optgroup, select, textarea {
    /* margin: 0; */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
/* Default Css End */

/* banner Css start */
.banner {
    background-color: #111111;
    min-height: 936px;
    z-index: 1;
    text-align: center;
    position: relative;

}


.bannner-right {
    position: absolute;
    right: -49px;
    top: -22px;
}

.logo-area {
    margin: 44px 0;
}
.banner-text-area h1 {
    color: #fff;
    font-size: 48px;
}

.banner-text-area h2 {
    font-size: 36px;
    color: #fff;
}
.feature-list {
    margin-top: 45px;
}
.feature-list ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-left: 11px;
}

a.btn.purchase-btn {
    background: #f43127;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 14px 50px;
    margin: 25px 0;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0px 7px 29px 0px rgba(255, 0, 0, 0.45);
}

.floating-img {
    position: absolute;
    top: 410px;
}
.sample-img {
    position: absolute;
    bottom: -31px;
}
.woman-img {
    position: absolute;
    bottom: -24px;
    width: 701px;
    right: 0px;
}


/**** homa-sample start****/

.home_sample-section {
    background-color: #f9f6f1;
    padding: 100px 0;
    text-align: center;
}

.home_sample-title h2 {
    margin: 20px 0;
    font-size: 36px;
}
.home_sample-title p {
    padding: 0 226px;
}
.single-sample-box {
    width: 100%;
    height: 400px;
    /* display: block; */
    z-index: -77;
    transition: ease-in-out .8s;
    background-position: top;
    margin-bottom: 12px;
    margin-top: 37px;
    border: 20px solid #fff;
    border-radius: 13px;
}
.single-sample-box:hover{

        
    background-position:bottom;     


}
.box1 {
    background-image: url(../imgs/homepage_sample/home_1.jpg);
    background-size: cover;
   

}

.box2 {
    background-image: url(../imgs/homepage_sample/home_2.jpg);
    background-size: cover;
    

}
.box3 {
    background-image: url(../imgs/homepage_sample/home_3.jpg);
    background-size: cover;
    

}

.box4 {
    background-image: url(../imgs/homepage_sample/home_4.jpg);
    background-size: cover;
    

}
.box5 {
    background-image: url(../imgs/homepage_sample/home_5.jpg);
    background-size: cover;
    

}
.box6 {
    background-image: url(../imgs/homepage_sample/home_6.jpg);
    background-size: cover;
    

}

/**  purchase-area **/

.purchase-area {
    padding: 70px 0;
    position: relative;
    overflow: hidden;
    margin-top: 56px;
}
.purchase-area-right {
    position: relative;
}
.p-bg {
    position: absolute;
    z-index: -1;
    left: -24px;
    top: -71px;
}

.chef {
    position: absolute;
    width: 100%;
    margin-left: 138px;
}

/****** plugin-area *******/

.plugin-area {
    padding: 118px 0;
    background-color: #fffbf2;
}
.plugin-area-title {
    padding: 2px 274px;
    text-align: center;
    margin-bottom: 50px;
}
.single-plugin-box img {
    border-radius: 14px;
    box-shadow: 0px 17px 40px 0px rgba(130, 103, 44, 0.36);
}

/***** layout-area *****/

.layout-area {
    padding: 100px 0;
    background-color: #f71010;

}

.layout-area-title {
    text-align: center;
  
}

.layout-title h3 {
    font-size: 36px;
    color: #fff;
    padding: 0 216px;
    margin-bottom: 40px;
}
.single-layout-sample img {
    border-radius: 10px;
}

/***** chef-layout *****/
.chef-layout-area {
    padding: 100px 0;
}
.chef-layout-title {
    position: relative;
    margin-top: 60px;
}

.chef-layout-title img {
    position: absolute;
    top: -42px;
    left: -79px;
}
.chef-layout-title h3 {
    position: absolute;
    top: 56px;
    font-size: 36px;
}
.feature-area {
    padding: 100px 0;
    background-color: #222;
    z-index: 1;

}
.feature-title {
    text-align: center;
    
}

.feature-title h3 {
    font-size: 36px;
    color: #FFF;
    padding: 0 208px;
    margin: 20px 0;
}


.single-feature-box {
    margin-bottom: 30px;
}
.single-feature-box img{

    border-radius: 10px;
}
footer.footer-area {
    background-color: #f3f3f3;
    text-align: center;
    padding: 36px 0;
}